.checkout-aside-action {
  margin-bottom: 2rem;
}

.product-detail-description{
  line-height: 2em;
}
.checkout-aside-summary {
    margin-top: 1.5em;
}
#swag-amazon-pay-product-detail-wrapper {
    margin-top: 0!important;
    display: block;
}
#productDetailPageBuyProductForm > div.row.g-2.mt-0.justify-content-end {
    display: block;
}
.offcanvas-header {
  padding: 1rem 20px!important;
}
.product-detail-payment-logos {
  justify-content: center;
}
.footer-logos {
  justify-content: left;
}