{% sw_extends '@zenitPlatformSphere/storefront/layout/footer/footer.html.twig' %}

{% block zen_layout_footer_navigation_payment_logos_content %}
	<div id="collapseFooterPaymentLogos" class="footer-column-content collapse js-footer-column-content {{ customShowClass }}" aria-labelledby="collapseFooterPaymentLogosTitle" role="listitem">
		<div class="footer-column-content-inner">
			<div class="footer-logos">
				<img src="https://www.lamodadress.de/media/4d/60/68/1685871464/swag_paypal_paypal.svg" class="footer-logo is-payment" alt="PayPal" title="PayPal" loading="eager"><img src="https://www.lamodadress.de/media/1a/7d/3c/1700166152/klarnapaylater-icon.svg" class="footer-logo is-payment" alt="Pay later." title="Pay later." loading="eager"><img src="https://www.lamodadress.de/media/61/78/f6/1700166150/creditcard-icon.svg" class="footer-logo is-payment" alt="Kreditkarte" title="Kreditkarte" loading="eager"><img src="https://www.lamodadress.de/media/23/7a/11/1700166151/giropay-icon.svg" class="footer-logo is-payment" alt="Giropay" title="Giropay" loading="eager"><img src="https://www.lamodadress.de/media/6b/ff/a6/1700166151/ideal-icon.svg" class="footer-logo is-payment" alt="iDEAL" title="iDEAL" loading="eager"><img src="https://www.lamodadress.de/media/7c/d4/44/1700166150/eps-icon.svg" class="footer-logo is-payment" alt="eps" title="eps" loading="eager"><img src="https://www.lamodadress.de/media/44/ab/dd/1700166149/bancontact-icon.svg" class="footer-logo is-payment" alt="Bancontact" title="Bancontact" loading="eager"><img src="https://www.lamodadress.de/media/6b/5a/b4/1700166149/applepay-icon.svg" class="footer-logo is-payment" alt="Apple Pay" title="Apple Pay" loading="eager"><img src="https://www.lamodadress.de/media/da/1f/a4/1700166154/in3-icon.svg" class="footer-logo is-payment" alt="in3" title="in3" loading="eager">

			</div>
		</div>
	</div>
{% endblock %}
